body{
    background-image: linear-gradient(rgba(90,78,78,0.8),rgba(90, 78, 78, 0.6)),url(https://educationiconnect.com/wp-content/uploads/2020/04/SHRI-VISHNU-COLLEGE-OF-PHARMACY-Admission-Fee.png);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.main{
    width:400px;
    height:200px;
    color:lavenderblush;
    top: 50%;
    left: 50%;
    padding: 60px,30px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow:8px 8px 50px #000;
}
.main a{
    font-size: 20px;
    text-decoration:none;
    color:whitesmoke;
}
.main a:hover{
    cursor: pointer;
    text-decoration: underline rgb(204, 118, 118);
}