body{
    background-image: linear-gradient(rgba(27, 6, 44, 0.8),rgba(27,6,44,0.6)),url(https://educationiconnect.com/wp-content/uploads/2020/04/SHRI-VISHNU-COLLEGE-OF-PHARMACY-Admission-Fee.png);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.box{
    width:399px;
    height:324px;
    color: lavenderblush;
    top: 50%;
    left: 50%;
    padding: 60px,30px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow:8px 8px 50px #000;
}
.h2{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 22px;
    color:#fff;
    text-align:center;
    margin-bottom: 88%;
    font-family:'Times New Roman';
}
.box input{
    border: none;
    width: 99%;
    border-bottom: 1px solid #ddd;
    background: transparent;
    outline: none;
    height: :30px;
    font-size : 20px;
    opacity: 1;
    color:#ddd;
}
.box textarea{
    width: 99%;
    height: 150px;
    padding: 15px,20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-bottom: 1px solid #ddd;
    background: transparent;
    outline: none;
    height: :30px;
    font-size : 25px;
    opacity: 1;
    color : #fff;
}
.box textarea:focus{
    border: 1px solid;
}
.box button{
    border: 0;
    padding: 10px 30px;
    background: #86b0b6;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
}
.box button:hover{
    background-color: #86b0b6;
}
