body{
    background-image: linear-gradient(rgba(27, 6, 44, 0.8),rgba(27, 6, 44, 0.6)),url(https://educationiconnect.com/wp-content/uploads/2020/04/SHRI-VISHNU-COLLEGE-OF-PHARMACY-Admission-Fee.png);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.main{
    width:400px;
    height:300px;
    color:lavenderblush;
    top: 50%;
    left: 50%;
    padding: 60px,30px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow:8px 8px 50px #000;
}
.h1{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 22px;
    color:#fff;
    text-align:center;
    margin-bottom: 88%;
    font-family:'Times New Roman';
}
.main input{
    width:100%;
    margin-bottom: 20px;
}
.main input[type=text], .main input[type=password]{
    border:none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    outline: none;
    height: :30px;
    font: size 16px;
    opacity: 1;
    color:#ccc;
}
.main input[type=submit]{
    border: none;
    outline: none;
    height: 40px;
    background: #f6648b;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.main input[type=submit]:hover{
    cursor: pointer;
}
.main a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}
.main a :hover{
    color: #fff;
    opacity: 1;
}
.bottom{
    color: #fff;
}
.bottom input{
    width: 10%;
    float: left;
}
.bottom a{
    float: right;
}




