*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.top{
    height: 102px;
    width: 100%;
    background-color: rgb(241, 236, 236);
}
.title{
    text-align: center;
    font-size: 25px;
    color:purple;
}
.top1{
    margin-top: 0px;
    width:100%;
    height:55px;
    background-color: orange;
}
.link{
    float: right;
}
.link ul{
    display: inline;
}
.link ul li{
    display: inline-block;
    padding: 0px 40px;
    list-style: none;
}
.link ul a li{
    top: 30px;
    font-size: 40px;
    color: white;
}
.link ul a li::after{
    width: 100%;
    height: '3px';
    top:100%;
    left:0;
    background :#009688;
}
.link ul a li:hover{
    text-decoration:underline rgb(20, 1, 37);
    transition: 0.5s;
}
.top2{
    background-image: url(https://images.static-collegedunia.com/public/college_data/images/campusimage/1479542439svcp%20College%20Blg%20%20photo.jpg);
    position: absolute;
    height: 550px;
    background-size: cover;
    left: 0%;
    top:22%;
    width: 100%;
    box-shadow: 1px 2px 10px 5px white;
    animation: slider 15s infinite linear;
    overflow: hidden;
}
@keyframes slider{
    0%{
        background-image: url(https://educationiconnect.com/wp-content/uploads/2020/04/SHRI-VISHNU-COLLEGE-OF-PHARMACY-Admission-Fee.png);
    }
    25%{
        background-image:url(https://i0.wp.com/static.careers360.mobi/media/presets/720X480/colleges/social-media/media-gallery/5179/2018/5/2/Shri-Vishnu-Engineering-College-for-Women-Bhimavaram1.jpg);
    }
    50%{
        background-image: url(https://th.bing.com/th/id/OIP.qLnM5wCmScT1p1m17ru7tAHaEL?pid=ImgDet&rs=1);
    }
    75%{
        background-image: url(https://th.bing.com/th/id/OIP.INXLj78lLrRfCoDoVx9-5gHaEx?pid=ImgDet&rs=1);
    }
}